<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Competition</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<AuthorizeView Roles="Admin">
			<Authorized>	
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="administration">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Users
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="competitions">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Competitions
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="managers">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Managers
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="categories">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Categories
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="disciplines">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Disciplines
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="throwers">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Throwers
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="scores">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Scores
					</NavLink>
				</div>
			</Authorized>
		</AuthorizeView>
		<AuthorizeView Roles="Manager">
			<Authorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="administration">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Users
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="competitions">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Competitions
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="managers">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Managers
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="categories">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Categories
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="disciplines">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Disciplines
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="throwers">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Throwers
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="scores">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Scores
					</NavLink>
				</div>
			</Authorized>
		</AuthorizeView>
		<AuthorizeView Roles="User">
			<Authorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="administration">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Users
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="scores">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Scores
					</NavLink>
				</div>
			</Authorized>
		</AuthorizeView>
		<AuthorizeView>
			<Authorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsstatic" title="Results Static">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (S)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsone" title="Results by discipline">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (G)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsthrower" title="Results by thrower">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (T)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsselector" title="Results selection">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (X)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="medals-by-nation">
						<span class="oi oi-medal" aria-hidden="true"></span> Medals
					</NavLink>
				</div>
			</Authorized>
			<NotAuthorized>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="registration" title="Registration">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Registration
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsstatic" title="Results Static">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (S)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsone" title="Results by discipline">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (G)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsthrower" title="Results by thrower">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (T)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="resultsselector" title="Results selection">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Results (X)
					</NavLink>
				</div>
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="medals-by-nation">
						<span class="oi oi-medal" aria-hidden="true"></span> Medals
					</NavLink>
				</div>
			</NotAuthorized>
		</AuthorizeView>
	</nav>
	<div><img src="bt.png" width="150" style="margin-left:15px;background-color: white;border-radius: 15px;padding: 5px;" /></div>
</div>


@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
