@using CompetitionResults.Data
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject CompetitionStateService CompetitionState
@inject CompetitionService CompetitionService
@inject UserIdStateService UserIdStateService
@inject IStringLocalizer<SharedResource> L
@implements IDisposable

<select value="@CompetitionState.SelectedCompetitionId" @onchange="OnSelectionChange" style="width: 400px; margin-top: 15px;">
    @if (competitions is null || competitions.Count == 0)
    {
        <option disabled selected>@L["No competitions available"]</option>
    }
    else
    {
        @foreach (var competition in competitions)
        {
            <option value="@competition.Id">@competition.Name</option>
        }
    }
</select>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

@code {
    private string errorMessage = string.Empty;
    private List<Competition>? competitions;

    protected override async Task OnInitializedAsync()
    {
        CompetitionService.OnCompetitionsChanged += LoadData;

        LoadData();
    }

    private async void LoadData()
    {
        var userId = await UserIdStateService.GetUserIdAsync();
        if (string.IsNullOrEmpty(userId))
        {
            competitions = await CompetitionService.GetAllCompetitionsAsync();
        }
        else
        {
            competitions = await CompetitionService.GetCompetitionsForManagerAsync(userId);
        }

        if (competitions != null && competitions.Count > 0 && CompetitionState.SelectedCompetitionId == 0)
        {
            CompetitionState.SelectedCompetitionId = competitions[0].Id;
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        CompetitionService.OnCompetitionsChanged -= LoadData;
    }

    private void OnSelectionChange(ChangeEventArgs e)
    {
        if (!int.TryParse(e.Value?.ToString(), out var competitionId))
        {
            errorMessage = L["Invalid competition selection."];
            return;
        }

        if (competitions != null && competitions.Any(c => c.Id == competitionId))
        {
            CompetitionState.SelectedCompetitionId = competitionId;
            errorMessage = string.Empty;
        }
        else
        {
            errorMessage = L["Invalid competition selection."];
        }
    }
}
