@implements IDisposable
@inject NavigationManager NavigationManager
@inject IStringLocalizer<SharedResource> L

<AuthorizeView>
    <Authorized>
        <span class="ml-2">&nbsp;&nbsp;@L["User"]: @context.User.Identity?.Name!</span>
        <NavLink href="/account/logout" class="nav-link">@L["Log out"]</NavLink>
    </Authorized>
    <NotAuthorized>
        <a href="/account/login" class="nav-link">@L["Log in"]</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
